.page.page-details {
    padding: 150px 0 40px 0;
    display: block;
}
.header.header-details{
    height: 100px;
}
.page-details .card {
    width: calc(100% - 36px);
}
.card-img-container{
    display: flex;
}
.stats-container {
  margin-top: 20px;
}

.stat {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stat-name {
  flex: 1;
  font-weight: bold;
}

.stat-bar {
  flex: 2;
  height: 10px;
  background-color: var(--background-body);
  border-radius: 5px;
  overflow: hidden;
  margin: 0 10px;
}

.stat-bar-fill {
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.stat-value {
  flex: 0.5;
  text-align: right;
  font-weight: bold;
}

.fixed-link {
    background-color: var(--primary-color);
    color: #fff;
    position: fixed;
    bottom: 10px;
    left: 10%;
    right: 10%;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    background-color: var(--primary-color);
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
    border: 2px solid #9e1a1a;
}
.fixed-link:hover {
    background: var(--button-hover);
    text-decoration: none;
}